/* 下拉选择框的样式 */
.select-language{  
  position: -webkit-sticky; /* 兼容 Safari */
  position: sticky;
  top: 0; /* 在顶部粘性定位 */
  right: 0; /* 靠右对齐 */
  z-index: 20; /* 确保它在页面上其他元素之上 */
}

.sticky-dropdown {
  padding: 5px 10px; /* 稍微增加内边距，使得选择框更易于点击 */
  margin: 2; /* 去除外边距，或根据需要调整 */
  font-family: $sans-serif-narrow;
  border: 1px solid #ccc;
  background-color: white;
}
