/* 下拉选择框的样式 */
.select-language{  
  position: absolute; /* 下拉选择框使用绝对定位 */
  top: 0; /* 顶部对齐外层 div 的顶部 */
  right: 0; /* 右侧对齐外层 div 的右侧 */
  padding: 5px; /* 内边距 */
  z-index: 10; /* 确保它在页面上其他元素之上 */
}

.sticky-dropdown {
  padding: 5px 10px; /* 稍微增加内边距，使得选择框更易于点击 */
  margin: 2; /* 去除外边距，或根据需要调整 */
  font-family: $sans-serif-narrow;
  border: 1px solid #ccc;
  background-color: white;
}
