/* 下拉选择框的样式 */
.select-language{
  position: fixed; /* 使用 fixed 定位，使 div 始终显示在视窗的同一位置 */
  top: 20px; /* 距离页面顶部 50px */
  right: 20px; /* 距离页面右侧 20px */
}
#language-select {

  font-family: Arial, sans-serif; /* 设置字体 */
  font-size: 16px; /* 设置字体大小 */
  color: black; /* 设置字体颜色为黑色 */
  padding: 8px; /* 设置内边距 */
  margin: 5px 0; /* 设置外边距 */
  border: 1px solid #ccc; /* 设置边框 */
  border-radius: 4px; /* 设置边框圆角 */
  background-color: white; /* 设置背景颜色 */
}

/* 改善兼容性和增加样式的小技巧：在某些浏览器中，可以使用伪元素来进一步定制外观 */
#language-select::-ms-expand {
  display: none; /* 隐藏 IE 和 Edge 的默认下拉箭头 */
}

#language-select:focus {
  border-color: #007bff; /* 聚焦时边框颜色改变 */
  outline: none; /* 移除聚焦时的默认轮廓 */
}
