---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
        </div>
      </article>
    </div>

    {% include scripts.html %}
    <div style={{"width": "70%", "height": "300px"}}>
      主页访问量统计：
        {% include clustermap.html %}
    </div>

    <div style="display: flex; justify-content: center; align-items: center; height: 100vh; background-color: lightgray;">
      <div style="width: 200px; height: 100px; background-color: lightcoral;">
          这是一个水平和垂直居中的 div。
      </div>
    </div>

  </body>
</html>
